In [ ]:
# Importação das bibliotecas gerais:
import pandas as pd

# Importando as bibliotecas Scikit Learn:
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder

In [ ]:
# Referência:
ref = pd.read_csv('base_de_credito.csv')

# Importando base de crédito:
dataset = pd.read_csv('base_de_credito.csv')

In [ ]:
# Definindo as features:
x = dataset.iloc[:,0:4].values

# Definindo os targets:
y = dataset.iloc[:,4]

In [ ]:
# Instânciando o Classificador Naive Bayes Gaussiano:
GNB = GaussianNB()

# Instânciando o Encorder (Pois o Naive Bayes não trabalha com variáveis CATEGÓRICAS):
ENC = LabelEncoder()

# Fazendo a binarização::
x[:,0] = ENC.fit_transform(x[:,0])
x[:,1] = ENC.fit_transform(x[:,1])
x[:,2] = ENC.fit_transform(x[:,2])
x[:,3] = ENC.fit_transform(x[:,3])

# Fazendo o treinamento:
GNB.fit(x, y)

# Imprimindo o resultado:
print('Treinamento com sucesso!')

Treinamento com sucesso!

In [ ]:
# Imprimindo a refefência:
ref

   Histórico de crédito Dívida Garantias            Renda anual     Risco
0                  Ruim  Alta    Nenhuma               < 15.000      Alto
1          Desconhecida  Alta    Nenhuma  >= 15.000 a <= 35.000      Alto
2          Desconhecida  Baixa   Nenhuma  >= 15.000 a <= 35.000  Moderado
3          Desconhecida  Baixa   Nenhuma               > 35.000      Alto
4          Desconhecida  Baixa   Nenhuma               > 35.000     Baixo
5          Desconhecida  Baixa  Adequada               > 35.000     Baixo
6                 Ruim   Baixa   Nenhuma               < 15.000      Alto
7                  Ruim  Baixa  Adequada               > 35.000  Moderado
8                   Boa  Baixa   Nenhuma               > 35.000     Baixo
9                   Boa  Alta   Adequada               > 35.000     Baixo
10                  Boa  Alta    Nenhuma               < 15.000      Alto
11                  Boa  Alta    Nenhuma  >= 15.000 a <= 35.000  Moderado
12                  Boa  Alta    Nenhuma               > 35.000     Baixo
13                 Ruim  Alta    Nenhuma  >= 15.000 a <= 35.000      Alto

In [ ]:
# Imprimindo os dados transformados:
dataset

   Histórico de crédito Dívida Garantias Renda anual     Risco
0                     2      0         1           0      Alto
1                     1      0         1           2      Alto
2                     1      1         1           2  Moderado
3                     1      1         1           1      Alto
4                     1      1         1           1     Baixo
5                     1      1         0           1     Baixo
6                     3      1         1           0      Alto
7                     2      1         0           1  Moderado
8                     0      1         1           1     Baixo
9                     0      0         0           1     Baixo
10                    0      0         1           0      Alto
11                    0      0         1           2  Moderado
12                    0      0         1           1     Baixo
13                    2      0         1           2      Alto

Prevendo um possível cliente com as seguintes características:


*   Histórico = BOA
*   Dívida    = ALTA
*   Garantias = NENHUMA
*   Renda     = > 35

Usando a referência para econtrar os valores BINÁRIOS das CLASSES, pois lembre-se que o Naive Bayes não trabalha com features categóricas, encontramos que:


*   *BOA* = **0**
*   *ALTA* = **0**
*   *NENHUMA* = **1**
*   *>35* = **1**

In [ ]:
  # Fazendo a previsão do modelo:
  y_pred = GNB.predict([[0, 0, 1, 1]])

In [ ]:
# Imprimindo o resultado predito:
print('O risco deste empréstimo é: {}'.format(y_pred[0]))

O risco deste empréstimo é: Baixo